<form action="/terrorists" method="POST" style="padding: 10px">
    Name:    <input type="text" name="name"><br>
    Health:  <input type="text" name="health"><br>
    Damage:  <input type="text" name="damage"><br>
    Is good: <input type="text" name="isGoodTerrorist"><br>
    <input type="submit" value="Add">
</form>