extends layout

block content
  h1 #{title}
  table.table.table-hover
    thead
      tr
        th(scope='col') #
        th(scope='col') Name
        th(scope='col') Year
        th(scope='col') Group
        th(scope='col') Action
    tbody
      each stud, i in students
        tr
          th(scope='row')= i + 1
          td
            a.alert-link(href='/students/' + stud.id, style='color:grey')= stud.firstName + ' ' + stud.lastName
          td= stud.year
          td= stud.group
          td
            a.btn.btn-danger(href='/students/' + stud.id + '/destroy')
                | Delete