extends layout

block content
  h1 #{student.firstName} #{student.lastName}
    button.btn.btn-outline-dark(type='button' data-toggle='modal' data-target='#newSubjectModal' style='margin-left: 20px')
      | Add new subject

  table.table.table-hover
    thead
      tr
        th(scope='col') #
        th(scope='col') Subject
        th(scope='col') Marks
        th(scope='col') Action
    tbody
      each subj, i in student.Subjects
        tr
          th(scope='row')= i + 1
          td
            a.alert-link(href='/students/' + student.id + '/subjects/' + subj.id, style='color:grey')= subj.name
          td          
            each task in subj.Tasks
              p= task.mark

          td
            .btn-group
              a.btn.btn-danger(href='/students/' + student.id + '/subjects/' + subj.id + '/destroy')
                | Delete
  
  #newSubjectModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5#newSubjectModalCenterTitle.modal-title New subject
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          form(method='POST', action='/students/' + student.id + '/subjects/create')
            .form-group
                label(for='inputName') Subject name
                input#inputName.form-control(type='text' name='name' placeholder='Name')
            .modal-footer(style='padding:0; border-top:0')
              button.btn.btn-secondary(type='button' data-dismiss='modal') Close
              button.btn.btn-primary(type='submit') Add

//- form(method='POST', action='/students/' + student.id + '/subjects/' + subj.id + '/tasks/create')
//-   .form-group
//-       label(for='inputTitle') Task title
//-       input#inputTitle.form-control(type='text' name='title' placeholder='Title')
//-   .form-group
//-       label(for='inputMark') Task title
//-       input#inputMark.form-control(type='number' name='mark' placeholder='Mark')





