extends layout

block content
  h1 #{subject.name} 
    button.btn.btn-outline-dark(type='button' data-toggle='modal' data-target='#newSubjectModal' style='margin-left: 20px')
      | Add new work

  table.table.table-hover
    thead
      tr
        th(scope='col') #
        th(scope='col') Work
        th(scope='col') Mark
        th(scope='col') Action
    tbody
      each task, i in subject.Tasks
        tr
          th(scope='row')= i + 1
          td= task.title
          td= task.mark
          td
            a.btn.btn-danger(href='/students/' + subject.StudentId + '/subjects/' + subject.id + '/tasks/' + task.id + '/destroy')
                | Delete
  
  #newSubjectModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5#newSubjectModalCenterTitle.modal-title New work
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          form(method='POST', action='/students/' + subject.StudentId + '/subjects/' + subject.id + '/tasks/create')
            .form-group
                label(for='inputTitle') Task title
                input#inputTitle.form-control(type='text' name='title' placeholder='Title')
            .form-group
                label(for='inputMark') Task title
                input#inputMark.form-control(type='number' name='mark' placeholder='Mark')
            .modal-footer(style='padding:0; border-top:0')
              button.btn.btn-secondary(type='button' data-dismiss='modal') Close
              button.btn.btn-primary(type='submit') Add






